.navbar{
  display: flex;
  justify-content: space-between;
   background-color: #30526B; 
  padding: 0 1rem;
  width: 100%;
  position: relative;
  z-index: 1000;

}

.navbar.drop{
  position: sticky;
  left: 0;
  top: 0;
  background: #30526B;
  -webkit-backdrop-filter: blur(90px);
  backdrop-filter: blur(90px);
  overflow: hidden;
  animation: drop 1s;
}

@keyframes drop {
    0%{top:-100%}
    100%{top:0}
}

.navbar .nav-links{
  display: flex;
  gap: 10rem;

 
}

.navbar .nav-item{
  padding: 20px 0px;

  cursor: pointer;
  position: relative;
  font-size: 18px;
  font-weight: 500;
  transition: 0.4s ease-in-out;
}

.navbar .nav-item:hover {
  color: #ffff;
}

.navbar .nav-item.active::after{
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  height: 6px;;
  width: 100%;
  border-radius: 2.5rem;
}

.navbar .btn{
  border-radius: 2.5rem;
  box-shadow: 0 19px 58px 0 var(#30526B);
  padding: 0.7rem 1rem;
  font-size: 16px;
}

.navbar .menu-btn{
  font-size: 30px;
  background: transparent;
  display: none;
}


/* Make the navbar responsive */


@media(max-width:1556px){


  .navbar .nav-links{
    gap: 3rem;
  }
}

@media(max-width:1156px){
  .navbar .redes{
    display: none;
  }
}

@media(max-width:950px){
  .navbar {
    padding: 0.5rem 1rem;
  }

  .navbar .nav-links{
    display: none;
  }

  .navbar .menu-btn{
    display: flex;
  }
}

@media(max-width:500px){
  .navbar .btn{
    display: none;
  }
}

.sumir{
  display: none;
}