.sidebar{
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1100;
  height: 0;
  width: 100%;
  transition: 0.4s ease-in-out;
  overflow: hidden;
 
}

.sidebar.visible{
  height: 100%;
}

.sidebar .sidebar-wrapper{
 padding: 1rem;
}

.sidebar .top{
  justify-content: space-between;
  margin-top: -8px;
}

.sidebar .navitem{
  display: block;
  padding: 10px 0px;
  font-size: 16px;
  font-weight: 500;
  cursor: pointer;
  transition: 0.4s ease-in-out;

}

.sidebar .navitem:hover{
  color: white;
}